* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Avenir Next";
  display: block;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

header {
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 62px;
  margin: 20px 10px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  transition: all 0.5s;
}

.header-right li {
   float: left;
}

.header-right a {
  line-height: 62px;
  padding: 0 20px;
  color: white;
  display: inline-block;
}

.top-main {
  width: 100%;
  padding: 180px 0 300px 0;
  background-image: url(img//liburan-ke-yogyakarta.jpg);
  background-size: cover;
  color: white;
  text-align: center;
}

.top-main h1, .top-main h2 {
  opacity: 0.8;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-main h1 {
  font-size: 45px;
}

.top-main h2 {
  font-size: 40px;
}


.body-main {
  width: 100%;
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2, .heading h3 {
  font-weight: normal;
  text-align:center;
}

.destination {
  float: left;
  width: 25%;
}

.destination-icon {
  position: relative;
}

.destination-body {
  width: 100%;
  display: inline-block;
  font-size: 15px;
  color: #b3aeb5;
  margin-bottom: 10px;
}

.destination-body:hover {
  background: white;
  color: black;
}

.icon {
  margin: 10px 0;
  padding: 5px 15px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
}

.icon:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

footer {
  width: 100%;
  background-color: #2f5167;
  color: #fff;
  height: 170px;
  padding: 20px;
}

.about-submit {
  width: 100%;
}

.about-submit p {
  color: white;
}

.about-submit input {
  border: 1px solid #dee7ec;
  border-radius: 4px;
}

.email {
  position: absolute;
  width: 100px;
}

.submit {
  margin: 5px 0;
  padding: 5px 5px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 5px #1a7940;
}

.submit:active {
  position: relative;
  top: 5px;
  box-shadow: none;
}

.flex-destinations {
  display: flex;
}
.flex-destinations icon {
  flex: auto;
}

/* Layout untuk Tablet */
@media (max-width: 1000px) {
  .flex-destinations {
    flex-wrap: wrap;
  }
  .flex-destinations icon {
    width: 50%;
  }
}

/* Layout untuk Smartphone */
/* Tetapkan lebar breakpoint ke 670px dan di bawahnya ke media query */
@media (max-width: 670px) {
  /* Tetapkan flex-direction milik .flex-list */
  .flex-destinations {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  
  /* Tetapkan margin dari .flex-list li ke 0 auto */
  .flex-destinations icon {
    margin: 0 auto;
  }
  
}
